@charset "utf-8";


address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul {  
   margin: 0px;
   padding: 0px;
   font-size:100%;
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
   box-sizing: border-box;	 
}

html {
    background: url(imagepoke.jpeg);
    background-size: 100%;

}

body {
    background-color: white;
    box-shadow: rgb(51, 51, 51) 10px 0px 40px,  rgb(51, 51, 51) -10px 0px 40px;
    height: 100%;   
    margin: auto;
    min-width: 540px;
    max-width: 3840px;   
    width: 80%;
 }

 header {
    background-color: rgb(11, 74, 156);
    color: white;
 }

 h1 {
     font-size: 2em;
 }

body > header img{
    width: 100%;
}

nav {
	display: table;
	width: 100%;
}

nav > ul {
	display: table-row;
}

nav > ul > li {
	display: table-cell;
	text-align: center;
    background-color: rgb(11, 74, 156);
    font-size: 2em;
}

nav > ul > li > a {
	display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
}

nav li a:hover{
    background-color:rgb(9, 97, 148);  
}

footer{
    background-color: rgb(11, 74, 156);
    text-align: center;
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;	
}



footer p{
    text-align: start;
}

#container {
    display: table;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}