@charset "utf-8";

/* HTML background settings */
html {
    background: url(imagepoke.jpeg);
    background-size: 100%;


/* Body styles */
body {
    background-color: rgb(11, 157, 214);
    height: 100%;   
    margin: ;
    min-width: ;
    max-width: ;   
    width: ;
 }