@charset "utf-8";

body {
    background-color: rgb(252, 245, 217);
 }

 #quizclock {
    position: absolute;
    top: 100px; 
    right: 10%;
    display: block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 2.2em;
    font-weight: bold;
    font-face: monospace;
    color: rgb(137, 72, 71);
    text-align: center;
    margin: 10px auto;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
 }
 