@charset "utf-8";

.container {
    display: inline-block;
}

.cart {
    margin-left: 10px;
}

.items {
    float: left;
    margin: 5px 0;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.itemsImage {
    width: 250px;
    height: 250px;
}

.productTitle {
    color: rgb(11, 74, 156);
    margin-top: 10px;
    text-align: center;
}

.productTitle > hr {
border-top: 5px solid lightgreen;
width: 30%;
}

.productTitle > #bottom {
    margin-top: 50px;
}

.items:hover{
    background-color: lightgrey;
}

div > input{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    width: 40%;
}

div > input:hover {
    background-color: black;
    color: white
}

/* small screens */
@media all  and (max-width: 480px){
    nav a img {
        display: inline-block;
        width: 100%;
        padding: 3px;
    }
    .items {
        
        right: 50%;
        font-size: 2em;
        color: black;
        background-color: white;
    }
    
}

/* medium screens */
@media all  and (min-width: 500px) and (max-width: 768px) {
    nav a img {
        display: inline-block;
        width: 100%;
        padding: 3px;
    }
    .items{
        text-align: center;
        right: 50%;
        color: black;
        background-color: white;
    }
}
